:host {
  --purple: #8a74f9;
  --gray-border: #e9eaea;
  --main-bg: #f3f5f7;
  --button-bg: #f9f9f9;
  --gray-med: #e7eaed;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;

  background-color: var(--main-bg);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1270px;
  margin-bottom: 3rem;
}

/* header  */
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.edit-button {
  display: flex;
  align-items: center;

  width: 78px;
  height: 34px;
  justify-content: center;
  border: 1px var(--gray-border) solid;
  border-radius: 5px;
  background-color: var(--button-bg);
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-family: "NeoReg";
}
.edit-button:hover {
  transform: translate(1px, 3px);
}
.edit-icon {
  padding-left: 7px;
  margin-top: 5px;
}
.ticket_number_container {
  display: flex;
  align-items: center;
}
.ticket_number {
  font-family: "NeoMed";
  font-size: 16px;
}
.back_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--gray-med);
  border-radius: 8px;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.back_arrow:hover {
  transform: translate(1px, 3px);
}

/* ///////// chart and ticket pic////////// */

.chart-ticket-container {
  display: flex;
  gap: 24px;
}

.ticket-container {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  background: var(--purple);
  color: white;
  font-family: "NeoReg";
  border-radius: 10px;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: column;
}
.chart-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: "100%";
  flex: 2;
  padding: 10px;
  border-radius: 5px;
}
.stats-div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.stats-title {
  margin-right: 12px;
}
:host ::ng-deep .p-dropdown {
  height: 30px;
  direction: rtl;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep .p-dropdown-label {
  font-family: "NeoReg";
  font-size: 12px;
}
:host ::ng-deep .p-dropdown-items {
  font-family: "NeoReg";
  font-size: 12px;
}
:host ::ng-deep .p-dropdown-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
:host ::ng-deep .p-dropdown-trigger-icon {
  width: 10px;
}
.stats-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "NeoMed";
  font-size: 12px;
}

.drop1 {
  font-family: "NeoMed";
}
.sales-header-container {
  margin-top: 15px;
}

.table-div {
  margin-top: 20px;
  background: white;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .chart-ticket-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .stats-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ticket-container {
    flex: 1;
  }
  .chart-container {
    flex: 1;
  }
}
