<main class="main">
  <div class="content">
    <!-- ///////////// header //////////// -->
    <div class="header">
      <div class="edit-button">
        <span>تعديل</span>
        <div class="edit-icon"><img src="/assets/edit.png" alt="edit" /></div>
      </div>

      <div class="ticket_number_container">
        <div class="ticket_number">تذكرة رقم #2342</div>
        <div class="back_arrow">
          <i class="pi pi-arrow-right" style="font-size: 12px"></i>
        </div>
      </div>
    </div>

    <!-- //////////// chart div /////////////// -->
    <div class="chart-ticket-container">
      <div class="ticket-container">
        <app-ticket />
      </div>
      <div class="chart-container">
        <div class="stats-div">
          <div class="time-filter drop1">
            <app-dropdown />
          </div>
          <div class="stats-text">
            <p class="stats-title">إحصائيات استخدام القسيمة</p>
            <app-dropdown2 />
          </div>
        </div>
        <div class="card">
          <app-chart2 />
        </div>
      </div>
    </div>

    <!-- //////////// table header ////////// -->
    <div class="sales-header-container">
      <app-salesheader />
    </div>
    <!-- <div>
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div> -->
  </div>
</main>

<router-outlet></router-outlet>
