<div class="sales-header-div">
  <div class="booking-div">
    <div>
      <p-button>
        <span>حجز تذكرة جديدة</span>
      </p-button>
    </div>
    <div class="active">
      <div class="check-lable">
        <span>مفعلة</span>
      </div>
      <div>
        <p-inputSwitch></p-inputSwitch>
      </div>
    </div>
  </div>
  <div class="search-div">
    <div class="sort-button">
      <i class="pi pi-sort-alt sort-icon"></i>
    </div>
    <div class="sort-button">
      <img src="/assets/filters.svg" alt="filters" />
    </div>
    <div class="search-input">
      <span class="p-input-icon-right">
        <input type="text" pInputText placeholder="بحث عن.." />
        <i class="pi pi-search" style="color: black"></i>
      </span>
    </div>
    <div class="search-title">
      <p>مبيعات التذاكر</p>
    </div>
  </div>
</div>
