@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "NeoReg";
  src: url("assets/fonts/Neo Sans Arabic Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoMed";
  src: url("assets/fonts/NeoSansArabicMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.p-tooltip {
  margin-top: 15px;
}
.p-tooltip .p-tooltip-text {
  background-color: #1e1e1e;
  color: #e5e5ef;
  font-family: "NeoReg";
  padding: 10px 25px;
}
.p-tooltip .p-tooltip-arrow {
  border-bottom-color: #1e1e1e;
  width: 10px;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: #1e1e1e;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: #1e1e1e;
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: #1e1e1e;
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: #1e1e1e;
}
