:host {
  --background: #8a74f9;
  --circle-bg: #f3f5f7;
}

.cont {
  background: var(--background);
  color: white;
  font-family: "NeoReg";
  border-radius: 10px;
  width: 408px;
  height: 264px;
}

.ticket {
  margin: 0 auto;
  position: relative;
  padding: 5px;
}

.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  top: 140px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--circle-bg);
}

.ticket:before {
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  left: -25px;
}

.ticket:after {
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(135deg);
  right: -25px;
}

.ticket-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--background);
  border-radius: 10px;
  position: relative;
}
.ticket-contents {
  height: 150px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.delete-icon {
  position: absolute;
  left: 35px;
  top: 15px;
}
.ticket-title {
  font-size: 16px;
  margin-top: 15px;
}
.divider {
  height: 150px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ticket-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: fit-content;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px dashed #8a74f9;
  margin-top: 15px;
}
.copy-icon {
  color: #8a74f9;
  font-size: 16px;
  margin-right: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.qrimage {
  margin-left: 20px;
  margin-top: 15px;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15px;
  font-size: 14px;
  align-self: flex-end;
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-box {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: fit-content;
}
.share-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.share-text {
  font-size: 12px;
}
