<div class="ticket">
  <div class="delete-icon">
    <img
      src="/assets/trash.svg"
      alt="delete"
      pTooltip="حذف"
      tooltipPosition="bottom"
    />
  </div>

  <div class="ticket-contents">
    <div class="ticket-title">عرض التذكرة الخاصة بالفيلم</div>
    <div class="ticket-code">
      <i
        class="pi pi-copy copy-icon"
        pTooltip="انسخ الكود"
        tooltipPosition="bottom"
      ></i>
      <p>www.tazkty.com/473847</p>
    </div>

    <div class="expiray">
      <p>فعال حتى 15 يوليو 2023</p>
    </div>
  </div>

  <div class="footer">
    <div class="qrimage">
      <img src="/assets/qr.png" alt="edit" />
    </div>
    <div class="right-section">
      <span>خصم</span>
      <div class="share">
        <div class="share-box">
          <span class="share-text">مشاركة</span>
          <img src="/assets/send.svg" alt="edit" class="share-icon" />
        </div>
        <p>25%</p>
      </div>
    </div>
  </div>
</div>
