:host {
  --background: #8a74f9;
  --circle-bg: #f3f5f7;
}

.cont {
  background: var(--background);
  color: white;
  font-family: "NeoReg";
  border-radius: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.ticket {
  position: relative;

  width: 100%;
}

.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  top: 66%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--circle-bg);
}

.ticket:before {
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  left: -25px;
}

.ticket:after {
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(135deg);
  right: -25px;
}

.ticket-contents {
  height: 260px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}
.delete-icon {
  position: absolute;
  left: 35px;
  top: 15px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.1);
}
.ticket-title {
  font-size: 16px;
  margin-top: 15px;
}

.ticket-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: fit-content;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px dashed #8a74f9;
  margin-top: 15px;
}
.copy-icon {
  color: #8a74f9;
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.copy-icon:hover {
  transform: scale(1.1);
}
.footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  align-self: center;

  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.qrimage {
  margin-left: 20px;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15px;
  font-size: 14px;
  align-self: flex-end;
  margin-bottom: 10px;
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-box {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: fit-content;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.share-box:hover {
  transform: translate(1px, 3px);
}
.share-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.share-text {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .cont {
    background: var(--background);
    color: white;
    font-family: "NeoReg";
    border-radius: 10px;
    width: 408px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
